.page-header {

    .section-body {
        flex-direction: column;

        p {
            font-size: 1.5em;
            line-height: 1.5;
            text-shadow: var(--text-shadow);
            text-align: center;
        }

        .pair-buttons {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15em, min-content));
            justify-content: center;
            gap: inherit;

            .button {
                font-size: 1.25em;
            }
        }
    }
}

.project-screenshot {
    img {
        width: 100%;
        border-radius: 2rem;
    }
}